<!-- Social impact section -->
<div class="invest">
    <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg"/>
    <div class="text">
        <h2>Scaling impact. Beyond the norm</h2>
        <h1>Human and Environmental Impact 
            <br>through Social Enterprise</h1>

    </div>

</div>
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-6 ">
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1681306013/lady-impact_rnc9jy.jpg" class="img-fluid" alt="image"/>
        </div>
        <div class="col-6 text-white">
            <h1>(Social) business for the win</h1>
            <p>With a young dynamic population that is eager to contribute to the global economy, East Africa has a lot to offer to the world. Now is the time to nurture sustainable, inclusive and scalable business. The rest will take care of itself.</p>
        </div>
    </div>
</div>

<div class="container-fluid position-relative info">
    <div class="stats">
        <div>
            <h1>733+</h1>
            <p>People trained</p>
        </div>
        <div>
            <h1>733K</h1>
            <p>career lauched</p>
        </div>
        <div>
            <h1>200+</h1>
            <p>projects finished</p>
        </div>
        <div>
            <h1>56</h1>
            <p>investors</p>
        </div>
    </div>
</div>

<div class="container position-relative buffalo">
    <div class="row">
        <div class="col-6">
            <h1>A cooperative mindset</h1>
            <p>Elewa has one shared objective; To
                unlock the true potential of individuals, teams, and the
                community. We believe strongly in the power of 
                sharing ideas and continuously strive to grow each other and ourselves. 
                Internally, but also within the larger communities in which we are active.</p>
        </div>
        <div class="col-6">
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1681308135/buffelo_i60xeu.jpg" alt="image"/>
        </div>
        
        
            
    </div>

</div>

<div class="container biz">
    <div class="row">
        <div class="col-6">
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/c_scale,q_90,w_400/v1675690301/elewa-group-website/Images/IMG_0764_twyo3k.png" alt="image"/>
        </div>
        
        <div class="col-6">
            <h1>Beyond business</h1>
            <p>We channel a good amount of our resources into giving back.</p>
            <p>These projects don't necessarily have an immediate financial return, 
                but their impact can be tangibly measured in the long-term.</p>
            <p>These projects don't necessarily have an immediate financial return, 
                but their impact can be tangibly measured in the long-term.</p>
        </div>
            
    </div>
</div>

<div class="container-fluid position-relative open">
        <div class="row">
            <div class="col-6 text-white">
                <h1>Open knowledge</h1>
                <p>What we learn, we share. Through community events, open knowledge repositories, regular teaching moments (everyone a teacher) and academic partnerships.</p>
                <p>We build for today, with a lens on tomorrow.</p>
            </div>
            <div class="col-6">
                <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690302/elewa-group-website/Images/unnamed_1_m3dvll.png" alt="image"/>
            </div>
        </div>
</div>