.navbar{
    width:100%;
    top:40px;
    border-bottom: 1px solid gray;
    color: white
}
.nav.open{
    display: block;
    z-index: 1;
    background-color: black;
    float: left;
    position: absolute;
    top: 50px;
    width: 98%;
    padding: 10px;
    margin: 0;
}

.btn{
    display: none;
}

@media (max-width: 1000px) {
    .nav{
        display: none;
    }
    .nav.open{
        display: block;
        z-index: 1;
        background-color: black;
        float: left;
        position: absolute;
        top: 50px;
        width: 98%;
        padding: 10px;
        margin: 0;
        
    }
    hr{
        display: block;
        height: 0px;
        color: white;   
    }
    .menu{
        display: flex;
        justify-content: center;

    }
  
    .nav a{
        display: flex;
        justify-content: center;   
        border-bottom: 1px solid white;    
    }
    .togglebtn{
        display: block;
    }
    
}

@media (max-width:768px) {
    .nav{
        width: 97.5%;
    }
    
}

@media (max-width: 425px) {
    .nav{
        max-width: 95.5%;
    }
    
}

@media (max-width: 320px) {
    .nav{
        width: 94%;
    }
}