<!-- About section -->
<div class="about">
    <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1679650530/elewa-team_digqu3.jpg"/>
    <div class="text">
        <h2>HOW TO RECOGNIZE AN ELEWA MEMBER</h2>
        <h1>Dependable, Creative, Supportive, 
            <br>Open Minded and Fun*</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>We care! </h1>
        <div class="col-6 text-dark">
            <p>With a young dynamic population that is eager to contribute to the global economy, East Africa has a lot to offer to the world. Now is the time to nurture sustainable, inclusive and scalable business. The rest will take care of itself.</p>
        </div>
        <div class="col-6 ">
            <p> Our investments are therefore not limited to internal ones, but contribute heavily to our community and environment. From training the next scout leaders on sustainable practices, to bridging the employment gap for junior software developers.</p>
        </div>
    </div>

    <div class="col-4">
        <div>
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1680180166/elewa-group-website/Icons/PNG/Holistic_118_ylipr0.png" alt="image"/>
            <h1>Holistic Solutions</h1>
            <p>We go beyond a simple patch-up but develop lasting solutions through holistic design.</p>
        </div>
    
        <div>
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690301/elewa-group-website/Icons/PNG/coorperative_kzlzrg.png" alt="image"/>
            <h1>Impact</h1>
            <p>Impact as a direct, or indirect, result. All our respective organizations have underlying theories of change.</p>
        </div>
    
        <div>
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690299/elewa-group-website/Icons/PNG/Opendata_fe7h3j.png" alt="image"/>
            <h1>Open data</h1>
            <p>Sharing is caring. We share what we learn. As proof, we've open-sourced all our internal projects.</p>
        </div>
    </div>  

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <!-- <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1681306013/lady-impact_rnc9jy.jpg" alt="image"/> -->
        </div>
        <div class="team text-white">
            <h1>Team</h1><p>Management</p>
        </div>
    </div>

</div>

<div class="culture">
    <div>
        <h1>Our Culture & Values</h1>
        <p>Our culture, CODE-(T), defines us. It protects and guides us to success. It keeps our team and management accountable to itself, its objective, and our long-term mission. </p>
    </div>
    <div class="code">
        <div>
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690301/elewa-group-website/Icons/PNG/coorperative_kzlzrg.png " alt="image"/>
            <h1>Cooperative</h1>
            <p> One for all ,all for one! We have a cooperative and open mindset. If one of us grows, all will follow. </p>
        </div>
    
        <div>
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690301/elewa-group-website/Icons/PNG/ownership_yno4a2.png " alt="image"/>
            <h1>Ownership</h1>
            <p> One for all ,all for one! We have a cooperative and open mindset. If one of us grows, all will follow. </p>
        </div>
    
        <div>
            <img src="https://static.thenounproject.com/png/1721983-200.png " alt="image"/>
            <h1>Detail</h1>
            <p> One for all ,all for one! We have a cooperative and open mindset. If one of us grows, all will follow. </p>
        </div>
    
        <div>
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690301/elewa-group-website/Icons/PNG/coorperative_kzlzrg.png " alt="image"/>
            <h1>Empathy</h1>
            <p> One for all ,all for one! We have a cooperative and open mindset. If one of us grows, all will follow. </p>
        </div>
    </div>
    <div class="code-t">
        <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690300/elewa-group-website/Icons/PNG/Transparancy_fqal8q.png" alt="image"/>
        <h1>Transparency</h1>
        <p>  Transparency, an open mind, and an open heart hold our organization together. We commit to and promote full transparency to ourselves, our stakeholders, and our beneficiaries. 
            We furthermore invest heavily in open-source and open-data projects, as true potential lies everywhere. Not just within.  </p>
    </div>
</div>
